@import "../../assets/scss/styles.scss";


.signup-container {
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;

    dialog {
        margin: 0;
        padding: 0;
    }

    .signup-box {
        display: block;
        width: 100%;
        height: 95%;
        background-image: url("../../assets/photos/back-twitter\ 1.jpg");
        background-size: 800px 700px;
        background-repeat: no-repeat;
        background-position: left;
        
        .signup {
            display: block;
            width: 400px;
            margin-left: 850px;
            padding-top: 90px;
            
            .happening-text {
                font-size: 56px;
                font-weight: 900;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            
            .text {
                width: 350px;
                font-size: 13px;
                margin-bottom: 20px;
            }
            
            .login-link {
                text-decoration: none;
                color: #1E97E1;
            }
            
            .join-list {
                width: 350px;
                list-style: none;
                padding: 0;
                margin: 15px 0;
                text-align: center;
            
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 54px;
                    text-align: center;
                    padding: 10px 15px;
                    border: 1px solid #E4EAED;
                    border-radius: 40px;
                    margin-bottom: 10px;

                    button {
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        border: none;
                        font-size: 16px;
                    }
                }
            }
        }
        
    }

    .terms-list {
        display: flex;
        width: 1200px;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        font-size: 10px;
        margin: 0 auto;
    }
}
